.tip-container {
    background-color: hsl(0, 0%, 100%);
    height: 50%;
    width: 60%;
    display: flex;
    border-radius: 12px;
  }
  

.tip-form {
    width: 50%;
    margin: 1rem;
    border-radius: inherit;
  }

.label_valid {
    display: inline-block;
    font-size: 15px;
    color:  hsl(186, 14%, 43%);
    margin: 0.1rem 1.5rem;
    font-weight: bold;
}  

.label_invalid {
  display: inline-block;
  width: 45%;
  margin: 0.2rem 0;
  font-size: 15px;
  color:  hsl(186, 14%, 43%);
  font-weight: bold;
  text-align: end;
  color: red;
}



.btn_cover {
  width: 100%;
  display: flex;
  margin: 1rem 24px;
  flex-wrap: wrap;
} 

.btn_keys {
  height: 3rem;
  width: 28%;
  margin: 0.5rem;
  border: 0;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
} 



.btn_keys:hover {
  color: var(--color-dark-cyan);
}


span {
  margin: 10px;
  font-size: 20px;
}

.input-cover {
  width: 93%;
  margin: 0.5rem 1.5rem;
  background-color: var(--color-light-cyan);
  display: flex;
  border-radius: 5px;
}

.input-cover:hover {
  border: 3px solid var(--color-strong-cyan);
}


.content-cover {
  width: 100%;
  
}


/* Input styles */

.tip-input {
  height: 2.5rem;
  width: 82%;
  margin: 0.2rem;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  border: 1px;
  background: transparent;
  overflow: hidden;
  text-align: end;
  color: var(--color-dark-cyan);
}

.tip-input__odd {
    height: 3rem;
    width: 26%;
    margin: 0.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-dark-cyan);
    border: 0;
    text-align: center;
    background-color: var(--color-light-cyan);
}

.tip-input__odd:hover {
  border: 3px solid var(--color-strong-cyan);
}
.tip-input__odd

::placeholder {
  color: var(--color-cyan);
  font-family: 'Space Mono';
  font-size: 24px;
}
.tip-input__odd::placeholder {
  color: var(--color-dark-cyan);
}

/* changes the default border color */
input:focus{
    outline: none !important;
}
/* hides the default arrow button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.invalid {
  border: 2px solid red;  
}
.input-cover:focus {
  border: 2px solid red;
}


/*  */

.tip-result {
  background-color: var(--color-dark-cyan);
  height: 88%;
  width: 50%;
  margin: 1.5rem;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  
}

.tip-amount {
  display: flex;
  width: 100%;
  margin: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

h3 {
  margin: 1rem 1rem;
  font-size: 15px;
  color: var(--color-white);
  
}

span {
  color:  var( --color-cyan);
}

p {
  margin: 1rem 0.4rem;
  width: 60%;
  text-align: center;
  color: var(--color-strong-cyan);
  font-size: 42px;
  font-weight: 700;
  
}

.btn {
  display: block;
  width: 80%;
  height: 3rem;
  border: 0;
  margin: auto;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-cyan);
  background-color:hsla(172, 82%, 30%, 0.493);
}

button:hover, 
button:focus {
  background-color: var(--color-strong-cyan);
  color: var(--color-dark-cyan);
  border: 2px solid var(--color-strong-cyan);
}


@media only screen and (min-width: 200px) and (max-width: 650px) {
  .tip-container {
    display: block;
    width: fit-content;
    height: 750px;
  }

  .tip-form {
    padding: 5px;
    width:fit-content;


  }
  .label_valid {
    margin: 0.3rem 0.3rem 0.3rem;
  }
  .input-cover {
    margin: 0.5rem 0.5rem 0.5rem;
  }

  .content-cover {
    
  }

  .btn_cover{
    margin: 0;
  }
  .btn_keys {
    width: 44%;
    
  }
  .tip-input__odd {
    width: 42%;
  }


  .tip-result {
    width: 90%;
    height: 35%;
    margin: 0.4rem auto;
  }
  .tip-amount {
    margin: 0 0.5rem;
  }
  h3{
    font-size: 12px;
    margin: 0.5rem;
  }
  p{
    font-size: 35px;
  }
  span {
    font-size: 12px;
  }
  .btn {
    margin: 1rem auto;
    
  }
}


@media only screen and (min-width: 651px) and (max-width: 1025px) {
  .tip-container {
    background-color: cadetblue;
  }
  .tip-form {
    margin: 5px 1rem;
  }
 
  .input-cover {
    height: 2.5rem;
    margin: 0 1rem;
  }
  .tip-input {
    height: 2rem;
  }
  .tip-input__odd {
    height: 2.5rem;
    width: 27%;
    margin: 0 0.4rem;
  }
  .tip-input__odd::placeholder {
    font-size: 18px;
  }
 
  .btn_cover {
    margin: 0 ;
  }
  .btn_keys {
    width: 27%;
    height: 2.5rem;
    margin-top: 0;
    font-size: 17px;
  }
  .tip-result {
    margin: 1.4rem ;
  }
  h3 {
    font-size: 12px;
  }
  span {
    font-size: 15px;
  }
  p {
    font-size: 32px;
  }
 }