.tip-container {
    background-color: hsl(0, 0%, 100%);
    height: 55%;
    width: 65%;
    display: flex;
    border-radius: 12px;
  }
  

.tip-form {
    width: 50%;
    margin: 1rem;
    border-radius: inherit;
  }

label {
    display: block;
    font-size: 15px;
    color:  hsl(186, 14%, 43%);
    margin: 0.4rem 1.5rem;
    font-weight: bold;
}  

.btn_cover {
  width: 100%;
  display: flex;
  margin: 1rem 24px;
  flex-wrap: wrap;
}

.btn_keys {
  height: 3rem;
  width: 25%;
  margin: 0.3rem;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
}

.btn_keys:hover {
  color: var(--color-dark-cyan);
}
.btn_keys:checked {
  color: var(--color-dark-cyan);
}

span {
  margin-left: 5px;
  font-size: 20px;
}

.input-cover {
  width: 95%;
  margin: 0.3rem 1.5rem;
  background-color: var(--color-light-cyan);
  border: 3px solid var(--color-strong-cyan);
  border-radius: 5px;
}

/* Input styles */

.tip-input {
  height: 3rem;
  width: 90%;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  border: 0;
  background: transparent;
  overflow: hidden;
  text-align: end;
  color: var(--color-dark-cyan);
}

.tip-input__odd {
    height: 3rem;
    width: 25%;
    margin: 0.3rem;
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-dark-cyan);
    border: 0;
    text-align: end;
    border-radius: 5px;
    background-color: var(--color-very-light-cyan);
}

::placeholder {
  color: var(--color-cyan);
  font-family: 'Space Mono';
  font-size: 24px;
}

/* changes the default border color */
input:focus{
    outline: none !important;
    
}
/* hides the default arrow button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*  */

.tip-result {
  background-color: var(--color-dark-cyan);
  height: 92%;
  width: 50%;
  margin: 1rem;
  border-radius: inherit;
  display: inline-block;
}

.tip-amount {
  display: flex;
  width: 100%;
  margin: 0 1rem;
  align-items: center;
  justify-content: space-between;
}

h3 {
  margin: 2rem 1rem;
  font-size: 15px;
  color: var(--color-white);
  
}

span {
  color:  var( --color-cyan);
}

p {
  margin: 2rem 2.8rem;
  color: var(--color-strong-cyan);
  font-size: 42px;
  font-weight: 700;
  
}

.btn {
  display: block;
  margin: 20% 10% 5% 10% ;
  width: 80%;
  height: 2.2rem;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-cyan);
  background-color:hsla(172, 82%, 30%, 0.493);
}

button:hover {
  background-color: var(--color-strong-cyan);
  color: var(--color-dark-cyan);
}